{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "php", "python", "node"],
        "plugins": [
          "line-numbers",
          "show-language",
          "normalize-whitespace",
          "Copy-to-clipboard-button",
          "download-button"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
