.FirstP {
    font-size: 40px;
    font-weight: 400;
    font-family: Open Sans;
    line-height: 56px;
    text-align: center;
    margin-top: 80px;
    margin-left: 200px;
    max-width: 440px;
}
.LinkP {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans;
    line-height: 32px;
    text-align: center;
    margin-top: 16px;
    margin-left: 294px;
    max-width: 252px;
}
.nput {
    height: 72px;
    width: 600px;
    border-radius: 8px;
    box-shadow:  -0.5px 2px 1px 1px  rgba(0, 0, 0, 0.34);
    border-color: white;
    margin-bottom: 32px;
    margin-top: 40px;
    margin-left: 120px;
}
::placeholder {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans;
    line-height: 32px;
    padding: 24px 16px;
    background-color: white;
    margin-left: 120px;
}
.button {
    height: 72px;
    width: 600px;
    border-radius: 8px;
    background-color: #00288D;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: Open Sans;
    line-height: 40px;
    border: none;
    margin-bottom: 8px;
    margin-left: 120px;
}
.LastP {
    font-size: 24px;
    font-weight: 700;
    font-family: Open Sans;
    line-height: 32px;
    margin-left: 335px;
    max-width: 385px;
}
.Enclosure {
    width: 840px;
    height: 969px;
    background-color: white;
    margin-left: 410px;
}
.Anch {
    color: #00288D;
}
.Exp {
    color: #00288D;
}