{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team-6-Auth-Wiki App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
    {% comment %} google font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="my-font leading-normal tracking-normal">
    <div class="mx-auto">{% block content %} {% endblock %}</div>

    {% comment %} prism {% endcomment %}
    <script>
      function Menu(e) {
        let list = document.querySelector("ul");

        e.name == "menu"
          ? ((e.name = "close"),
            list.classList.add("top-[80px]"),
            list.classList.add("opacity-100"))
          : ((e.name = "menu"),
            list.classList.remove("top-[80px]"),
            list.classList.remove("opacity-100"));
      }

      window.addEventListener("DOMContentLoaded", () => {
        //const buttons = document.querySelectorAll(".menu-btn");
        const button = document.querySelector(".menu-btn");
        const button2 = document.querySelector(".menu-btn2");
        const button3 = document.querySelector(".menu-btn3");
        const button4 = document.querySelector(".menu-btn4");
        const dropdown1 = document.querySelector(".dropdown1");
        const dropdown2 = document.querySelector(".dropdown2");
        const dropdown3 = document.querySelector(".dropdown3");
        const dropdown4 = document.querySelector(".dropdown4");

        button.addEventListener("click", () => {
          dropdown1.classList.toggle("hidden");
          dropdown1.classList.toggle("flex");
        });

        button2.addEventListener("click", () => {
          dropdown2.classList.toggle("hidden");
          dropdown2.classList.toggle("flex");
        });

        button3.addEventListener("click", () => {
          dropdown3.classList.toggle("hidden");
          dropdown3.classList.toggle("flex");
        });
        button4.addEventListener("click", () => {
          dropdown4.classList.toggle("hidden");
          dropdown4.classList.toggle("flex");
        });
        /* for (let i = 0; i < buttons.length; i++) {
          buttons[2].addEventListener("click", () => {
            console.log(buttons[1]);
            dropdown1.classList.toggle("hidden");
            dropdown1.classList.toggle("flex");
          });
          /* button[1].addEventListener("click", () => {
            dropdown.classList.toggle("hidden");
            dropdown2.classList.toggle("flex");
          });
            button[2].addEventListener("click", () => {
            dropdown3.classList.toggle("hidden");
            dropdown3.classList.toggle("flex");
          });*
        }*/
      });
    </script>
    <script src="{% static '/js/prism.js' %}">

      {% comment %} ionic icons {% endcomment %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
    </script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
