{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
      {% comment %}
      <section class="flex items-center justify-center h-screen">
        {% endcomment %} {% block content %} {% comment %}
        <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
        {% endcomment %} {% endblock %} {% comment %}
      </section>
      {% endcomment %}
    </div>
    <script src="{% static '/js/prism.js' %}"
  </body>
</html>
