@tailwind base;
@tailwind components;
@tailwind utilities;

.my-font{
    font-family: 'Open Sans', sans-serif;
}
.nav-menu{
    @apply md:flex md:items-center md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500;
}
@layer utilities{
input:focus{
    outline: none;
    border: none;
}
}