@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 100vw;
}
.text-left {
    color: blue;
    text-decoration: underline;
}
.text-left:hover {
    color: rgb(82, 48, 161);
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}
.GoogleSignIn {

}
.SignupwithGithub{
    color: #0000008A;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}